#/usr/bin/tclsh

# System configuration different from the norm

proc config_cruft { } {
    global mc sc

    puts "Executing motor_cruft"
    # NG3 Presample Cruft
    # catch {$mc(6,motcmd) configure $mc(6,motax) -homeparity 1}

    set sc(extfreq) 1250  ;# Frequency of clock used as time base
    set mc(ssibits) 25    ;# Encoder databits

    # NG3 Flight Chamber Cruft
    set mc(73,ssibits) 29
    set mc(78,ssibits) 29
    set mc(87,ssibits) 29


    return "...Complete"
}

proc motor_cruft { } {
    global mc
} 
